body {
    font-family: Calibri,sans-serif;
    margin:0;
    padding: 0;
}

header {
    list-style: nome;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: nome;
    padding: 20px;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

main {
    display: inline-block;
    margin-right: 10px;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
}

img {
    max-width: 100%;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}